@media (max-width: 1200px){
    .adv {
        &__wrapper {
            justify-content: space-around;
        }
    }  
}

@media (max-width: 991px){
    .promo {
        .header {
            justify-content: space-around;
        }
        &__wrapper{
            align-items: center;
        }
    }
    .adv {
        &__blocks {
            width: 200px;
        }
    }
    .consultation {
        .title_left {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 36px;
        }
    }
}

@media (max-width: 767px){
    .promo{
        .header {
            &__logo {
                width: 220px;
            }
            &__official {
                display: none;
            }
        }
        &__header {
            font-size: 37px;
        }
        &__subheader {
            font-size: 21px;
        }
    }
    .adv {
        &__wrapper {
            margin-top: 0;
            flex-direction: column;
            align-items: center;
        }
        &__blocks {
            margin-top: 40px;
            width: 300px;
        }
        &__title {
            margin-top: 15px;
        }
        &__subtitle {
            margin-top: 15px;
        }

    }
}

@media (max-width: 575px) {
    .promo {
        .header{
            &__logo {
                width: 160px;
            }
            &__phone {
                    font-size: 14px;
            }
            button {
                width: 120px;
                font-size: 11px;
            }
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 24px;
            line-height: 50px;
        }
        &__subheader {
            text-align: center;
            font-size: 18px;
        }
        &__icons {
            margin-top: 50px;
            width: 300px;
        }
        &__icon {
            font-size: 13px;
            img {
                margin-bottom: 15px;
            }
        }
        .button_main {
            width: 270px;
            font-size: 15px;
            margin-top: 70px;
        }
    }
    .adv {
        padding: 50px 0 50px 0;
        &__header {
            font-size: 24px;
        }

        &__blocks {
            margin-top: 30px;
            width: 240px;
        }
        &__title {
            margin-top: 15px;
        }
        &__subtitle {
            margin-top: 15px;
        }
    }
    .consultation {
        padding: 100px 20px 92px 20px;
        .title_left {
            text-align: center;
            font-size: 19px;
        }
        &__descr {
            text-align: center;
            font-size: 16px;
        }
        .feed-form {
            width: 260px;
            margin: 0 auto;
            margin-top: 36px;
        }
    }
}