* {
    font-family: "MuseoSansCyrl", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "base/variables";
@import "base/mixins";
@import "blocks/general";
@import "blocks/promo";
@import "blocks/header";
@import "blocks/buttons";
@import "base/fonts";
@import "blocks/adv";
@import "base/media";

.container {
    max-width: 950px;
    margin: 0 auto;
}
