.adv {
    padding: 70px 0 78px 0;
    background-color: #f6f6f6;
    &__header {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-top: 65px;
    }
    &__blocks {
        width: 240px;
        text-align: center;
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__title {
        margin-top: 38px;
        line-height: 1.2;
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle {
        margin-top: 26px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        a {
            text-decoration: underline;
            color: #ff0000;
            &:hover {
                text-decoration: none;
            }
        }
    }

}